{% extends 'main.html' %}

    <title>Reziseri</title>
    {% load static%}
<link rel="stylesheet" href="{% static 'styles.css' %}">
 
{%block content%}
        <h1>{{value}}</h1>
        <div class="row row-cols-3">
          {% load random_numbers %}
        {% for director in Director%}
        
        <div class="card col" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{director.name}}({{director.birth_year}})</h5>
              
              <a href="#" class="btn btn-primary">vice informaci</a>
            </div>
          </div>
         {% endfor %}
{% endblock content%}

