{%extends 'main.html'%}

{% block title %}
    {{movie.name}} | {{ block.super }}
{% endblock %}

{% block content %}
{% endblock%}
<body>
    {% load random_numbers %}
    {% for movie in film%}

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="container-fluid" >
            <h1 class="text-start">{{movie.name}}</h1>
            <h2 class="text-start">rok vydani: {{movie.year}}</h2>
            <h2 class="text-start">Reziser: {{movie.director}}</h2>
            <h2 class="text-start">Popis:</h2>
            <p class="text-start">{{movie.description}}</p>
            <h2></h2>
        </div>

        </div>
        <div class="col">
          <img src="https://picsum.photos/id/{% random_int 1 500 %}/600/400" class="img" alt="...">
          
        </div>
        
      </div>
    </div>

    
    {% endfor %}
    
</body>

<style>
  body, nav {
    background-image: url("https://wallpaperaccess.com/full/2063914.jpg");
    background-color: #cccccF;
    background-size: cover;


   }
   h1{
    text-align: center;
    color:white;
  }
  h2,p{
    
    color:white;
  }
  .navtext{
    color:aqua;
  }
  .navbar-brand, .nav-link{
    
    .active{
      color:pink;

    }
    color:pink;
  }
  .blue{
    color:aqua;

  }
  
  a:active{
    color:pink;
  }
  .myAnc:hover {
    color: red;
  }
  .card{
    border-color:#000000;
    .card-title, .card-text{
      color:white;
    }
    .btn{
      border-color:black;
      background-color:#1a0000;
    }
    background-color:#990026;
  }


  
</style>
</html>