{%extends 'main.html'%}

{% block title %}
    {{movie.name}} | {{ block.super }}
{% endblock %}

{% block content %}

    {% load random_numbers %}
    

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="container-fluid" >
            <h1 class="text-start">{{movie.name}}</h1>
            <h2 class="text-start">rok vydani: {{movie.year}}</h2>
            <h2 class="text-start">Reziser: {{movie.director}}</h2>
            <h2 class="text-start">Popis:</h2>
            <p class="text-start">{{movie.description}}</p>
            <h2></h2>
        </div>

        </div>
        <div class="col">
          <img src="https://picsum.photos/id/{% random_int 1 500 %}/600/400" class="img" alt="...">
          
        </div>
        
      </div>
    </div>

    
    
    
{% endblock%}