
  body, nav {
    background-image: url("https://wallpaperaccess.com/full/2063914.jpg");
    background-color: #cccccF;
    background-size: cover;


   }
   h1, a{
    color:pink;
  }
  .navtext{
    color:aqua;
  }
  .navbar-brand, .nav-link{
    .active{
      color:aqua;

    }
    color:aqua;
  }
  .blue{
    color:aqua;

  }
  
  a:active{
    color:blue;
  }
  .myAnc:hover {
    color:pink;
    color: red;
  }

  